$text-header1-color: #2E3A59;
$text-header2-color: #2E3A59;
$text-button-color: #242736;
$button-background-color: #E5EAFC;
$button-selected-background-color: #FFFFFF;
$backgroundColor: #F2F5FF;
$card-text-color: #FFFFFF;
$progress-card-background-color: #FFFFFF;
$font-weight-normal: 400;
$font-weight-title: 600;
$font-weight-subtitle: 300;
$progress-area-card-icon-background: #3A49F9;
